<%= form_for @meal_type, url: admin_meal_type_path  do |f| %>
  <% if @meal_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal_type.errors.count, "error") %> prohibited this meal_type from being saved:</h2>

      <ul>
      <% @meal_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-4">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
</div>

<div class="row">
  <div class="actions col-md-4">
    <%= f.submit class:"btn btn-primary col-md-6"%>
  </div>
</div>
<p>
  &nbsp;
</p>
<% end %>
