<%= form_for [:admin, @location]  do |f| %>
    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this from being saved:</h2>

          <ul>
            <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="span12">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="span12">
      <%= f.label :address %>
      <%= f.text_area :address, rows:3 %>
    </div>

    <div class="span12">
      <%= f.submit class:"btn btn-primary"%>
      <p>&nbsp;</p>
    </div>
<% end %>