<%= form_for(@order, url: create_mass_order_path) do |f| %>
    <% if @order.errors.any? %>
        <div class="alert alert-error" style="margin-left:20px; margin-right:20px; margin-top:100px">
          <h2><%= @order.errors.count %> feil må rettes opp før orderen blir lagret:</h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="span12">
      <h4>Mattyper og mengde</h4>
      <%= f.fields_for :meals do |meal| %>
          <%= render 'meal_fields', f: meal %>
      <% end %>
    </div>

    <p class="span12" >
      <%= link_to_add_fields "Legg til enda et måltid", f, :meals %>
    </p>

    <h4 class="span12">Leveringssted og tidspunkt</h4>
    <div class="span4">
      <%= f.select :location_id, @locations %>
      <%= f.text_area :deliver_to, rows:4, placeholder:"Spesifikk leveringsadresse (Valgfri)" %>
    </div>

    <div class="span8">
      <%= f.text_area :comment, rows:3, placeholder:"Kommentar", :class => 'span5' %>
    </div>

    <div class="span12">
      <%= f.submit "Lever bestilling", class:"btn btn-primary"%>
      <p>&nbsp;</p>
    </div>
<% end %>
