<%= form_for(@order, url: create_mass_order_path) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.fields_for :meals do |meal| %>
      <%= render 'meal_fields', f: meal %>
    <% end %>
  </div>

  <%= link_to_add_fields "Add meal", f, :meals %>

  <div>
    <%= f.label :deliver_to, "Delivery address" %> 
    <%= f.text_area :deliver_to %> 
  </div>

  <div>
    <%= f.label :comment, "Comments to other" %> 
    <%= f.text_area :comment %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
