<%= form_for(@order, url: create_mass_order_path) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span12">
    <%= f.fields_for :meals do |meal| %>
      <%= render 'meal_fields', f: meal %>
    <% end %>
  </div>

  <p class="span12" >
  <%= link_to_add_fields "Legg til enda en mattype", f, :meals %>
  </p>

  <div class="span4">
    <%= f.text_area :deliver_to, rows:3, placeholder:"Leveringsadresse" %>
  </div>

  <div class="span5">
    <%= f.text_area :comment, rows:3, placeholder:"Kommentar" %> 
  </div>

  <div class="span12">
    <%= f.submit "Place order", class:"btn btn-primary"%>
  </div>
<% end %>
