<h1 class="span12">Mine bestillinger</h1>
<% unless @orders.count == 0 %>
<table class="table table-hover span12">
  <thead>
  <tr>
    <th>Leveringsadresse:</th>
    <th>Leveringsdag:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to simple_format(order.deliver_to), order%></td>
      <td><%= link_to order.delivered_at.strftime("%a %d. %b, %H:%M"), order %></td>
      <td class="btn-group" >
          <%= link_to edit_order_path(order), class:"btn" do %>
            <i class="icon-pencil"></i>
          <%end%>
          <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn" do %>
            <i class="icon-trash"></i>
          <% end %>
      </td>
    </tr>
    <% order.meals.each do |meal| %>
      <tr>
        <td></td>
        <td><%= meal.meal_type.title %></td>
        <td><%= meal.amount %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<% else %>
  <div class="alert alert-block span10">
  <h4>Ingen bestillinger</h4>
  Du har ikke registert noen bestillinger.
  <%= link_to "Bestill mat.", new_order_path %>
</div>
<% end %>
