<!DOCTYPE html>
<html>
  <head>
    <title>Chef</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if logged_in? %>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Chef</a>
            <ul class="nav">
              <li><%= link_to "Mine bestillinger", orders_path %></li>
            </ul>
            <div class="pull-right">

              <% if logged_in? && current_user.workshop_leader? %>
                <%= link_to new_mass_order_path, class:"btn btn-primary" do %>
                  <i class="icon-plus"></i> Workshop-bestilling
                <% end %>
              <% end %>

              <%= link_to new_order_path, class:"btn btn-success" do %>
                <i class="icon-plus"></i> Ny bestilling
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="container body">
      <%= yield %>
    </div>

  </body>
</html>
