<!DOCTYPE html>
<html>
  <head>
    <title>Chef</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if logged_in? %>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Chef</a>
            <ul class="nav">
              <li><%= link_to "Mine bestillinger", orders_path %></li>
              <% if logged_in? && current_user.admin? %>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Ordreoversikt
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "2013-02-07", admin_order_path("2013-02-07") %></li>
                  <li><%= link_to "2013-02-08", admin_order_path("2013-02-08") %></li>
                  <li><%= link_to "2013-02-09", admin_order_path("2013-02-09") %></li>
                  <li><%= link_to "2013-02-10", admin_order_path("2013-02-10") %></li>
                  <li><%= link_to "2013-02-11", admin_order_path("2013-02-11") %></li>
                  <li><%= link_to "2013-02-12", admin_order_path("2013-02-12") %></li>
                  <li><%= link_to "2013-02-13", admin_order_path("2013-02-13") %></li>
                  <li><%= link_to "2013-02-14", admin_order_path("2013-02-14") %></li>
                  <li><%= link_to "2013-02-15", admin_order_path("2013-02-15") %></li>
                  <li><%= link_to "2013-02-16", admin_order_path("2013-02-16") %></li>
                  <li><%= link_to "2013-02-17", admin_order_path("2013-02-17") %></li>
                </ul>

                <li><%= link_to "Måltidstyper", admin_meal_types_path %></li>
              <% end %>
            </ul>
            <div class="pull-right">

              <% if logged_in? && current_user.workshop_leader? %>
                <%= link_to new_mass_order_path, class:"btn btn-primary" do %>
                  <i class="icon-plus"></i> Workshop-bestilling
                <% end %>
              <% end %>

              <%= link_to new_order_path, class:"btn btn-success" do %>
                <i class="icon-plus"></i> Ny bestilling
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="container body">
      <%= yield %>
    </div>

  </body>
</html>
